{% extends 'base/base.html' %}

{% block title %}Create Order{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Purchasing Order</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Create Purchasing Order</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Supplier Id</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="supplier" class="control-label mb-1">Supplier</label>
                                {{ form.supplier }}
                            </div>
                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Product Id</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Product Name</label>
                                {{ form.product }}
                            </div>
                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Quantity</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Status</label>
                                <div class="dropdown">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Status
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Pending</a>
                                      <a class="dropdown-item" href="#">Recieved</a>
                                      <a class="dropdown-item" href="#">Returned</a>
                                    </div>
                                  </div>
                                  
                            </div>

                            
                            
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Purchasing Order</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}